<h1>Add A New Recipe</h1>

<form>
	<div>
		<label for="name">Recipe Name:</label>
		<input type="text" id="name" name="recipe_name" ng-model="recipe_name"/>
	</div>
	<div>
		<h4>Ingredients</h4>
		<fieldset  data-ng-repeat="ingredient in ingredients">
			<label for="ingredient_name">Ingredient:</label>
	      <input type="text" ng-model="ingredient.name" name="ingredient_name" placeholder="Ingredient Name"/>
	      <label for="ingredient_quantity">Quantity:</label>
	      <input type="text" ng-model="ingredient.quantity" name="ingredient_quantity" placeholder="Ingredient Quantity"/>
	   </fieldset>

		<button class="addIngredient" ng-click="addNewIngredient()">Add Ingredient</button>
	</div>
	<div>
		<label for="directions">Directions:</label>
		<textarea id="directions" ng-model="directions"></textarea>
	</div>
	<button type="submit" ng-click="submitRecipeForm()">Submit Recipe</button>
</form>

<h2>Preview:</h2>

<h3>{{recipe_name}}</h3>
<ul id="ingredientsPreview">
	<li ng-repeat="ingredient in ingredients">{{ingredient.name}}</li>
</ul>
<p>{{directions}}</p>